{% load static %}
<div class="wrapper">
    <form class="form-signin" style="text-align: center;">       
      <h2 class="form-signin-heading">Edit</h2>
      <input type="text" class="form-control" name="username" placeholder="Name" required="" autofocus="" /><br>
      <input type="text" class="form-control" name="password" placeholder="Buliding" required=""/><br>
      <input type="text" class="form-control" name="password" placeholder="Time In" required=""/><br>    
      <input type="text" class="form-control" name="password" placeholder="Time Out" required=""/><br>   
      <br>
      <tr>
        <td>  
          <button class="btn btn-lg btn-danger " type="submit">Update</button>
          <button class="btn btn-lg btn-success " type="submit">Cancel</button>
      </td>
      </tr>
      
    </form>
  </div>