{% load static %}
<div id="content">
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Last Picture</h6>
            </div>
            <div class="card-body"> 
                &nbsp; &nbsp;&nbsp; &nbsp;
                <img src="{% static 'dashboard/img/1.jpg' %}" width="370px" height="250px"></img> &nbsp; &nbsp;
                <img src="{% static 'dashboard/img/2.jpg' %}" width="370px" height="250px"></img> &nbsp; &nbsp;
                <img src="{% static 'dashboard/img/3.jpg' %}" width="370px" height="250px"></img>
            </div>
        </div>

    </div>

</div>
<!-- End of Main Content -->