{% extends 'components/base.html' %}
{% load static %}
{% block tital%} Unknown | {% endblock %}
{% block content %}
<!-- Data_Table -->
<div>
    <div id="content">
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Tables</h1>
        <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
            For more information about DataTables, please visit the <a target="_blank"
                href="https://datatables.net">official DataTables documentation</a>.</p>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <!-- Topbar Search -->
                    <div>
                        <div class="input-group">
                            <input id="dateStart" type="date" >
                            <input id="dateEnd" type="date" >
                            <button id="doIt" class="btn btn-primary">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                    <br>
                    <table class="table table-bordered " id="dataTable" width="100%" cellspacing="0">
                    {% if imgdata %}
                        <thead>
                            <tr>
                                <th>Image</th>
                                <th>Company</th>
                                <th>Name</th>
                                <th>Date</th>
                                <th>Time_In</th>
                                <th>Time_Out</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            {% for imgdata in imgdata %}
                            <tr>
                                <td>
                                    {% for image in images %}
                                    <img  src="{{MEDIA_URL}}static/dashboard/img/unknown/{{image}}" width="200px" height="150px">
                                    {% endfor %}
                                </td>
                                <td>{{imgdata.Company}}</td>
                                <td>{{imgdata.name}}</td>
                                <td>{{imgdata.date}}</td>
                                <td>{{imgdata.time_in}}</td>
                                <td>{{imgdata.time_out}}</td>
                            </tr>
                            {% endfor %}
                            
                        </tbody>
                        {% else %}
                            <p>ไม่ข้อมูลที่จะแสดง</p>
                            {% endif %}
                    </table>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container-fluid -->

</div>
<!-- End of Main Content -->
<!-- Date Search script -->
<script>
    doIt.onclick = () => {

        var startDate = dateStart.value,
              endDate = dateEnd.value;
        sortThroughTable(startDate, endDate)
       
      };
      
      function sortThroughTable(start, end) {
        Array.apply(0, dataTable.rows).forEach(x => {
          var cells = Array.apply(0, x.cells);
          var secondCell = cells[3].innerText;
          var isHidden = shouldItBeHidden(
            secondCell,
            start, end
          );
          if(isHidden) {
            x.style.display = "none"
          } else if(x.style.display == "none")
            x.style.display = "";
        })
        
        function shouldItBeHidden(
          cellTxt,
          start,
          end
        ) {
          var parsedCell = myParse(cellTxt),
              parsedStart = myParse(start),
              parsedEnd = myParse(end);
          return !(
          //here's where the real logic is
            parsedCell ? 
              (parsedStart && parsedEnd) ?
                isDateGreaterOrEqual(parsedCell, parsedStart) &&
                isDateGreaterOrEqual(parsedEnd, parsedCell)
              : 
                parsedStart &&
                  cellTxt == start
            : false
            
          )
      
        }
        
        function isDateGreaterOrEqual(parsedDate, otherParsedDate) {
          var isYearGreater = (
            parsedDate.year >
            otherParsedDate.year
          ),
              isMonthGreater = (
            parsedDate.month >
            otherParsedDate.month
          ),
              isDayGreater = (
            parsedDate.day >
            otherParsedDate.day
          ), 
          
              isYearSame = (
            parsedDate.year ==
            otherParsedDate.year
          ),
              isMonthSame = (
            parsedDate.month ==
            otherParsedDate.month
          ),
              isDaySame = (
            parsedDate.day ==
            otherParsedDate.day
          );
          
          if(isYearGreater) {
            return true;
          } else if(isYearSame) {
          
           if(isMonthGreater) {
              return true;
           } else if(isMonthSame) {
           
              if(isDayGreater) {
                return true;
              } else return isDaySame;
              
           } else return false;
           
          } else return false;
        }
        
        function myParse(str) {
          return (splat => 
            splat.length == 3 &&
            !splat.find(x => isNaN(x)) ? 
            Object.fromEntries(
              (list => splat
                .map((x, i) => (
                  [list[i], parseInt(x)]
                ))
              )([
                "day", "month", 
                "year"
              ])
            ) : null
          )(
            typeof(str) == "string" ? 
              str.split("-")
            : []
          )
        }
      }
</script>
<!--Show entries-->
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
  <script>
    $(document).ready(function () {
      $('#dataTable').DataTable({
        "pageLength": 100
      });
    });
  </script>
</div>
{% endblock %}